footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  padding-inline: var(--horizontal-space);
  padding-block: 1.5rem;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
}
.logo > span {
  font-size: 1.5rem;
  font-weight: 600;
}